//generate all helper classes for flexbox by classes
@mixin flex{
  display: flex;
}

@mixin flex-row{
  flex-direction: row;
}

@mixin flex-row-reverse{
  flex-direction: row-reverse;
}

@mixin flex-col{
  flex-direction: column;
}

@mixin flex-col-reverse{
  flex-direction: column-reverse;
}

@mixin flex-wrap{
  flex-wrap: wrap;
}

@mixin flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}

@mixin flex-nowrap{
  flex-wrap: nowrap;
}

@mixin flex-grow{
  flex-grow: 1;
}

@mixin flex-grow-0{
  flex-grow: 0;
}

@mixin flex-shrink{
  flex-shrink: 1;
}

@mixin flex-shrink-0{
  flex-shrink: 0;
}

@mixin flex-no-wrap{
  flex-wrap: nowrap;
}

@mixin flex-initial{
  flex: 0 1 auto;
}

@mixin flex-1{
  flex: 1 1 0%;
}

@mixin flex-auto{
  flex: 1 1 auto;
}

@mixin flex-none{
  flex: none;
}

@mixin flex-justify-start{
  justify-content: flex-start;
}

@mixin flex-justify-end{
  justify-content: flex-end;
}

@mixin flex-justify-center{
  justify-content: center;
}

@mixin flex-justify-between{
  justify-content: space-between;
}

@mixin flex-justify-around{
  justify-content: space-around;
}

@mixin flex-justify-evenly{
  justify-content: space-evenly;
}

@mixin flex-items-start{
  align-items: flex-start;
}

@mixin flex-items-end{
  align-items: flex-end;
}

@mixin flex-items-center{
  align-items: center;
}

@mixin flex-items-baseline{
  align-items: baseline;
}

@mixin flex-items-stretch{
  align-items: stretch;
}

@mixin flex-content-start{
  align-content: flex-start;
}

@mixin flex-content-end{
  align-content: flex-end;
}

@mixin flex-content-center{
  align-content: center;
}

@mixin flex-content-between{
  align-content: space-between;
}

@mixin flex-content-around{
  align-content: space-around;
}

@mixin flex-content-stretch{
  align-content: stretch;
}

@mixin flex-self-auto{
  align-self: auto;
}

@mixin flex-self-start{
  align-self: flex-start;
}

@mixin flex-self-end{
  align-self: flex-end;
}

@mixin flex-self-center{
  align-self: center;
}

@mixin flex-self-baseline{
  align-self: baseline;
}

@mixin flex-self-stretch{
  align-self: stretch;
}

.flex{
  @include flex;
}
.flex-row{
  @include flex-row;
}
.flex-row-reverse{
  @include flex-row-reverse;
}
.flex-col{
  @include flex-col;
}
.flex-col-reverse{
  @include flex-col-reverse;
}
.flex-wrap{
  @include flex-wrap;
}
.flex-wrap-reverse{
  @include flex-wrap-reverse;
}
.flex-nowrap{
  @include flex-nowrap;
}
.flex-grow{
  @include flex-grow;
}
.flex-grow-0{
  @include flex-grow-0;
}
.flex-shrink{
  @include flex-shrink;
}
.flex-shrink-0{
  @include flex-shrink-0;
}
.flex-no-wrap{
  @include flex-no-wrap;
}
.flex-initial{
  @include flex-initial;
}
.flex-1{
  @include flex-1;
}
.flex-auto{
  @include flex-auto;
}
.flex-none{
  @include flex-none;
}
.flex-justify-start{
  @include flex-justify-start;
}
.flex-justify-end{
  @include flex-justify-end;
}
.flex-justify-center{
  @include flex-justify-center;
}
.flex-justify-between{
  @include flex-justify-between;
}
.flex-justify-around{
  @include flex-justify-around;
}

.flex-justify-evenly{
  @include flex-justify-evenly;
}
.flex-items-start{
  @include flex-items-start;
}
.flex-items-end{
  @include flex-items-end;
}
.flex-items-center{
  @include flex-items-center;
}
.flex-items-baseline{
  @include flex-items-baseline;
}
.flex-items-stretch{
  @include flex-items-stretch;
}
.flex-content-start{
  @include flex-content-start;
}
.flex-content-end{
  @include flex-content-end;
}
.flex-content-center{
  @include flex-content-center;
}
.flex-content-between{
  @include flex-content-between;
}
.flex-content-around{
  @include flex-content-around;
}
.flex-content-stretch{
  @include flex-content-stretch;
}
.flex-self-auto{
  @include flex-self-auto;
}
.flex-self-start{
  @include flex-self-start;
}
.flex-self-end{
  @include flex-self-end;
}
.flex-self-center{
  @include flex-self-center;
}

.flex-self-baseline{
  @include flex-self-baseline;
}
.flex-self-stretch{
  @include flex-self-stretch;
}
