@function bg-color($index) {
  $index: $index - 1;
  $color-count: length($colors);
  $color-index: $index % $color-count;
  @return nth($colors, $color-index + 1);
}
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

@for $i from 1 through length($colors) {
  .bg-#{nth($color-names, $i)} {
    background-color: bg-color($i);
  }
}

@for $i from 1 through length($colors) {
  .text-#{nth($color-names, $i)} {
    color: bg-color($i);
  }
}

// border for each colors
@for $i from 1 through length($colors) {
  .border-#{nth($color-names, $i)} {
    border-color: bg-color($i);
  }

  .border-top-#{nth($color-names, $i)} {
    border-top-color: bg-color($i);
  }
  
  .border-left-#{nth($color-names, $i)} {
    border-left-color: bg-color($i);
  }
  
  .border-right-#{nth($color-names, $i)} {
    border-right-color: bg-color($i);
  }
  
  .border-bottom-#{nth($color-names, $i)} {
    border-bottom-color: bg-color($i);
  }
  
  .border-x-color-#{nth($color-names, $i)} {
    border-left-color: bg-color($i);
    border-right-color: bg-color($i);
  }
  
  .border-y-color-#{nth($color-names, $i)} {
    border-top-color: bg-color($i);
    border-bottom-color: bg-color($i);
  }
    

}


.border-0{
  border:0;
}
@for $i from 1 through length($colors) {
  .hover\:bg-#{nth($color-names, $i)}:hover {
    background-color: bg-color($i);
  }
}

@for $i from 1 through length($colors) {
  .hover\:text-#{nth($color-names, $i)}:hover {
    color: bg-color($i);
  }
}

@for $i from 1 through length($colors) {
  .hover\:border-#{nth($color-names, $i)}:hover {
    border-color: bg-color($i);
  }
}

//widths
@for $i from 0 through 100 {
  .w-#{$i * $width} {
    width: #{$i*$width}+'%';
  }

  .mxw-#{$i * $width} {
     width: #{$i*$width}+'%';
  }

  .mnw-#{$i * $width}{
    width: #{$i*$width}+'%';
  }
}

//heights

@for $i from 0 through 100 {
  .h-#{$i * $height} {
    height: #{$i*$height}+'%';
  }

  .hxw-#{$i * $height} {
    height: #{$i*$height}+'%';
  }

  .hnw-#{$i * $height}{
    height: #{$i*$height}+'%';
  }
}

// paddings

@for $i from 0 through 100 {
  .p-#{$i} {
    padding: #{$i*2}px;
  }
  .px-#{$i} {
    padding-left: #{$i*2}px;
    padding-right: #{$i*2}px;
  }
  .py-#{$i} {
    padding-top: #{$i*2}px;
    padding-bottom: #{$i*2}px;
  }
  .pt-#{$i} {
    padding-top: #{$i*2}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i*2}px;
  }
  .pl-#{$i} {
    padding-left: #{$i*2}px;
  }
  .pr-#{$i} {
    padding-right: #{$i*2}px;
  }
}


// margins

@for $i from 0 through 100 {
  .m-#{$i} {
    margin: #{$i*2}px;
  }
  .mx-#{$i} {
    margin-left: #{$i*2}px;
    margin-right: #{$i*2}px;
  }
  .my-#{$i} {
    margin-top: #{$i*2}px;
    margin-bottom: #{$i*2}px;
  }
  .mt-#{$i} {
    margin-top: #{$i*2}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i*2}px;
  }
  .ml-#{$i} {
    margin-left: #{$i*2}px;
  }
  .mr-#{$i} {
    margin-right: #{$i*2}px;
  }
}
.m-auto{
    margin: auto;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.mt-auto{
    margin-top: auto;
}
.mb-auto{
    margin-bottom: auto;
}



.radius-none {
  border-radius:$border-radius-none;
}

.radius-full {
  border-radius:$border-radius-full; 
} 
@for $i from 1 through length($lengths) {
    // border radius
    .radius-#{nth($lengths, $i)}{
      border-radius: #{$i*$border-radius-start};
    }
  
    .tl-radius-#{nth($lengths, $i)}{
        border-top-left-radius: #{$i*$border-radius-start};
    }
    .tr-radius-#{nth($lengths, $i)}{
  
      border-top-right-radius: #{$i*$border-radius-start};
    }
    .br-radius-#{nth($lengths, $i)}{
  
      border-bottom-right-radius: #{$i*$border-radius-start};
    }
    .bl-radius-#{nth($lengths, $i)}{
      border-bottom-left-radius: #{$i*$border-radius-start};
    }
  
    .l-radius-#{nth($lengths, $i)}{
        @extend .bl-radius-#{nth($lengths, $i)};
        @extend .tl-radius-#{nth($lengths, $i)};
    }
  
    .r-radius-#{nth($lengths, $i)}{  
      @extend .br-radius-#{nth($lengths, $i)};
      @extend .tr-radius-#{nth($lengths, $i)};
    }
  
    .t-radius-#{nth($lengths, $i)}{
      @extend .tl-radius-#{nth($lengths, $i)};
      @extend .tr-radius-#{nth($lengths, $i)};
    }
  
    .b-radius-#{nth($lengths, $i)}{
      @extend .bl-radius-#{nth($lengths, $i)};
      @extend .br-radius-#{nth($lengths, $i)};
    }
  
}

