.table{
    display: table;
}
.table__row{
    display: table-row;
}

.table__cell{
    display: table-cell;
}

.table__header{
    display: table-header-group;
}

.table__footer{
    display: table-footer-group;
}

.table__caption{
    display: table-caption;
}

.table__col{
    display: table-column;
}

.table__colgroup{
    display: table-column-group;
}

.table__rowgroup{
    display: table-row-group;
}

