// import helpers
@import "helpers/variables",
        "helpers/mixins",
        "helpers/flex",
        "helpers/grid",
        "helpers/typography",
        "helpers/placement";

// import components
@import "components/form",
        "components/buttons",
        "components/cards",
        "components/navbar",
        "layouts/container",
        "components/footer",
        "components/scrollList",
        "components/contactList",
        "components/contactItem",
        "components/contactDetail",
        "components/page";

* {

  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  scroll-behavior: smooth;
  
}
body {
    background-color: $default;

}

.main-container {
    @extend .container, .w-75,.py-30;

}

.pointer {
  cursor: pointer;
}

//md
@media screen and (max-width: map-get($breakpoint,'md') ) {
    .main-container {
        width: 100%;
        @include px(30);
    }
}