
.contact-item {
    max-height: 100px;
}

.contact-info  {
    .contact-info-desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    
    @extend .pl-5;
}

.contact-img-box{
    @include flex;
    @include flex-justify-center;
    height: 100%;
}


.contact-img {
    object-fit: cover;
}


.contact-action-box button{
    @extend .ft-size-sm ,.mt-2;
}

@media (max-width:map-get($breakpoint,"sm")) {
    .contact-info  {
        .contact-info-desc {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .contact-info-title{
            font-size: 1em;
        }
    }
   

}
@media (min-width:map-get($breakpoint,"xs")) {

    .contact-img {
        width: 3.5em;
        height: 3.5em;
    }
    
}

@media (min-width:map-get($breakpoint,"sm")) {

    .contact-img {
        width: 4em;
        height: 4em;
    }
    
}