.footer {
  background-color: $ghost;
  color: $light;
  width: 100%;
  min-height: 300px;
  margin: 0;
  padding: 0;

  &-content {
    @extend .grid;
    @extend .grid-cols-3;

    &-col {
      @extend .col-span-1;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &-content {
      display: block;

      &-col {
        display: block;
        width: 100%;
      }
    }
  }
}


